body{
    font-family: "sarabun";
    font-size: 16pt;
}

div{
    text-align: center;
    /* background-color: yellow; */
}

td{
    padding: 5px;
    vertical-align: top;
}

ul{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

li{
    text-align: left;
}

ol{
    margin-top: 0;
}

h2{
    font-size: 18pt;
    margin: 0;
    padding: 0;
}
h3, h4{
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    width: 100%;
}

.underline{
    width: 100%;
    border-style: dotted;
    border-bottom: 1px solid black;
}